$code-color: #c7254e;

code {
    color: $code-color;
    border-radius: rem-calc(4);
}

code a, 
a code {
    text-decoration: underline;
}

a:hover code {
    color: scale-color($code-color, $lightness: -14%)
}

.codeblock { 
    background: $light-gray;
    border: 1px solid $medium-gray;
    border-radius: $global-radius;
    margin-bottom: $paragraph-margin-bottom;
    
    .title {
        padding: rem-calc(9);
        background: $white;
        border-radius: $global-radius $global-radius 0 0;
    }

    pre {
        padding: rem-calc(9);
    }
    
    code {
        border: 0;
        padding: 0;
        color: $black;
    }
}
