
.article-container {
    margin-top: -$header-overlap-padding;
}

.article { 
    background: $white;
    box-shadow: $maincontent-shadow;
    padding: rem-calc(20);
    margin: $buttongroup-margin 0;

    .first-letter {
        font: $global-weight-normal 2em $header-font-family;
        font-weight: bold;
        line-height: 1em;
    }
}