
.codeblock { 
    background: $light-gray;
    border: 1px solid $medium-gray;
    border-radius: $global-radius;
    margin-bottom: $paragraph-margin-bottom;
    
    .title {
        padding: rem-calc(9);
        background: $white;
        border-radius: $global-radius $global-radius 0 0;
    }

    pre {
        padding: rem-calc(9);
    }
    
    code {
        border: 0;
        padding: 0;
    }
}
