
.footer {
    width: 100%;
    background: url('greece-wallpaper-hd-pictures-35.jpg');
    background-size: cover;
    padding: rem-calc(20);
    
    .version,
    .icon,
    .note {
        @include grid-column(12);
    }

    @media #{$large-up} {
        .icon {
            @include grid-column(1);
        }
        .note {
            @include grid-column(11);
            background: $white-on-blue-background;
        }
    }
}