
.header {
    padding: 4em;
    width: 100%;
    background: url('greece-wallpaper-hd-pictures-35.jpg');
    background-size: cover;
    
    h1, 
    h4 {
        font-family: $body-font-family
    }
    
    h1 {
        font-size: rem-calc(32);
        font-weight: 600;
    }
    
    h4 {
        font-size: rem-calc(21);
        font-weight: 200;
    }
    
    .photo {
        @include grid-column(12);

        a {
            border-radius: $global-radius;
            display: block;
            background-image: url('me-250x250.jpg');
            background-size: cover;
            height: rem-calc(250);
            width: rem-calc(250);
            max-height: 250px;
            max-width: 250px;
            margin: 0 auto;
        }
    }
    
    .signature {
        @include grid-column(12);
        margin-top: rem-calc(15);
        background: rgba(255,255,255,.5);
        text-align: center;
    }

    @media #{$large-up} {
        .photo {
            @include grid-column(4);
        }
        .signature {
            @include grid-column(8);
            background: transparent;
            text-align: left;
        }
    }
    
    .social a {
        display: inline-block;
        width: 2em;
        height: 2em;
        text-decoration: none;
        margin: 0 0.5em;
    }
    
    .fa-github-square {
        color: #666;
    }

    .fa-facebook-square {
        color: #305c99;
    }

    .fa-twitter-square {
        color: #4099ff;
    }

    .fa-linkedin-square {
        color: #0e76a8;
    }
}