$fa-font-path: "fonts";
$white-on-blue-background: rgba(255,255,255,.5);
$header-overlap-padding: 10em;

// foundation overrides (should not be present in foundation-settings
$global-font-size: 14px;
$global-radius: 0.5em;
$body-font-family: 'Open Sans', sans-serif;
$foundation-palette: (
  primary: #3498db,
  secondary: #777,
  success: #3adb76,
  warning: #ffae00,
  alert: #ec5840,
);
$light-gray: #f5f5f5;
$white: #fefefe;
$code-border: 0;
$header-font-family: 'Gloria Hallelujah', cursive;
$header-styles: (
  small: (
    'h1': ('font-size': 24),
    'h2': ('font-size': 22),
    'h3': ('font-size': 20),
    'h4': ('font-size': 16),
    'h5': ('font-size': 14),
    'h6': ('font-size': 12),
  ),
  medium: (
    'h1': ('font-size': 36),
    'h2': ('font-size': 30),
    'h3': ('font-size': 24),
    'h4': ('font-size': 18),
    'h5': ('font-size': 14),
    'h6': ('font-size': 12),
  ),
);

@import 'foundation-settings';
