{
  "root": true,
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "es6": true,
    "node": true
  },
  "globals": {
    "require": true,
    "module": true
  },
  "rules": {
    "arrow-parens": 2,
    "arrow-spacing": 2,
    "comma-dangle": [2, "never"],
    "constructor-super": 2,
    "consistent-this": [2, "self"],
    "eqeqeq": 2,
    "curly": 2,
    "no-var": 2,
    "one-var": [2, "never"],
    "prefer-arrow-callback": 2,
    "strict": [2, "safe"]
  }
}
