extends layout

block append vars
  - title = page.title
  - subtitle = 'Γιώργος Βαλοτάσιος'
  
block append subtitle
  span.badge.date
    i.fa.fa-pencil-square-o
    = ' ' + article.date('DD/MM/YYYY')

block header

block content
  .article
    article
      section.content!= article.html()

  #footer-actions.row.text-center
    .btn-group
      a.btn.btn-default(href= page.link('/'))
        i.fa.fa-home
        | &nbsp; Home
      a.btn.btn-default(href='#') Top&nbsp;
        i.fa.fa-toggle-up
