extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ title }

block header

block content
  .article
    .page-header
      h1= title
    p.date
      span.badge= article.date('DD/MM/YYYY')
    article
      section.content!= article.html()

  #footer-actions.row
    .btn-group
      a.btn.btn-default(href='#') 
        i.fa.fa-home
        | &nbsp; Home
      a.btn.btn-default(href='#') Top&nbsp;
        i.fa.fa-toggle-up
