extends layout

block append vars
  - title = page.title
  - subtitle = 'Γιώργος Βαλοτάσιος'

block header

block content
  .article
    p.date
      span.badge= article.date('DD/MM/YYYY')
    article
      section.content!= article.html()

  #footer-actions.row.text-center
    .btn-group
      a.btn.btn-default(href= page.link('/'))
        i.fa.fa-home
        | &nbsp; Home
      a.btn.btn-default(href='#') Top&nbsp;
        i.fa.fa-toggle-up
