extends layout

block title
  | Georgios Valotasios personal stuff

block content
  div#index-content
    each article, index in articles
      .col-md-4
        .article
          h2.header
            a(href=article.page.filename)= article.page.data.title
          //span.badge= page.article.date('YYYY-MM-DD')
          span.badge= article.date()
          div.descr
            !{ article.description() }
            p.more
              a.btn.btn-primary(href=article.page.filename) more
      if (index + 1) % 3 === 0
        .clearfix

