doctype html
block vars
  - var title = 'Γιώργος Βαλοτάσιος'
  - var subtitle = 'Things to remember | Programming stuff :)'
  
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title= title + ' - ' + subtitle
      link(rel='stylesheet', href= asset('/main.css'))
      link(rel='shortcut icon', href= assets + '/favicon.ico')
      script.
        (function(w){if (window.location.hostname==='blog.valotas.com') { window.location = window.location.toString().replace('blog.valotas.com/', 'valotas.com/');}})(window);

        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-12048148-1', 'valotas.com');
        ga('send', 'pageview');

  body
    .jumbotron
      .container
        .col-md-3
          a.photo.img-rounded(href='/')
        div.signature.col-md-9
          h1.whitebg.row= title
          p.whitebg.row
            block subtitle
              span= subtitle
          .social.whitebg.row
              a(href='https://github.com/valotas' target="_blank")
                i.fa.fa-github-square.fa-2x
              a(href='https://www.facebook.com/valotas' target="_blank")
                i.fa.fa-facebook-square.fa-2x
              a(href='https://twitter.com/valotas' target="_blank")
                i.fa.fa-twitter-square.fa-2x
              a(href='http://www.linkedin.com/in/valotas' target="_blank")
                i.fa.fa-linkedin-square.fa-2x
    #content.container
      block header
      block content
        h2 Welcome to zombocom!
    #footer
      .container.text-center
        .col-md-12
          | &copy; Γιώργος Βαλοτάσιος
          | - CSS by &nbsp
          a(href="https://twitter.com/MrPirrera" target="_blank") @MrPirrera
        .col-sm-12.col-md-1
          i.fa.fa-asterisk
        .col-sm-12.col-md-11.whitebg
          | The greek name "
          strong
            em Γιώργος
          | " is also know as Yoryos, Georgios or just George which seems to be easier to most english speaking people.
          | If you are trying to find out what "Βαλοτασιος" means, just think of it as "Valotasios" and you should be fine.
    script.
      WebFontConfig = {
        google: { families: [ 'Gloria+Hallelujah::latin', 'Open+Sans::latin,greek' ] }
      };
      (function() {
        var wf = document.createElement('script');
        wf.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
        wf.type = 'text/javascript';
        wf.async = 'true';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(wf, s);
      })();