.group .george {
  background: url("./george3.jpg?width=100") no-repeat;
  background-size: cover;
}

.group:hover .george {
  background: url("./george1.jpg?width=100") no-repeat;
  background-size: cover;
}

/* preload images as defined at https://stackoverflow.com/questions/1373142/preloading-css-images */
body::after{
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content: url("./george1.jpg?width=100");
}