// @import 'font-awesome';

.fa-github-square {
    color: #666;
}

.fa-facebook-square {
    color: #305c99;
}

.fa-twitter-square {
    color: #4099ff;
}

.fa-linkedin-square {
    color: #0e76a8;
}
