.header {
    padding: 4em 4em 4em + $header-overlap-padding;
    background: url('assets/greece-wallpaper-hd-pictures-35.jpg');
    background-size: cover;

    h1,
    h4 {
        font-family: $body-font-family
    }

    h1 {
        font-weight: 600;
    }

    h4 {
        font-weight: 200;
    }

    .date {
        vertical-align: middle;
    }

    .photo {
        @include grid-column(12);

        a {
            border-radius: $global-radius;
            display: block;
            background-image: url('assets/me-250x250.jpg');
            background-size: cover;
            height: rem-calc(250);
            width: rem-calc(250);
            max-height: 250px;
            max-width: 250px;
            margin: 0 auto;
        }
    }

    .signature {
        @include grid-column(12);
        margin-top: rem-calc(15);
        text-align: center;
    }

    .signature-row {
        padding: rem-calc(5 0);
        background: $white-on-blue-background;
    }

    @media #{$large-up} {
        .photo {
            @include grid-column(4);
        }
        .signature {
            @include grid-column(8);
            background: transparent;
            text-align: left;
        }

        .signature-row {
            background: transparent;
            padding: 0;
        }
    }

    .social {
         a {
            display: inline-block;
        }
        .fa {
            font-size: 3em;
            margin: 0 .25em;
        }
    }
}
