
extends layout

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ article.title() }

block header
  h1= article.title()

block content
  article.article
    section.content!= page.content()

//-block prepend footer
  div.row
    a.btn.btn-default(href=contents.index.url) « Full blog
