extends layout

block title
  | 'Georgios Valotasios' personal stuff'

block content
  div#index-content
    each article, index in articles.all()
      div.article
        h2.header
          a(href=article.url())= article.title()
        div.date= article.date('YYYY-MM-DD')
        div.descr
          !{ article.intro() }
          p.more
            a(href=article.url()) more
      if (index + 1) % 3 === 0
        .clearfix

