extends layout

block content
  div#index-content
    each article in articles.all()
      div.article
        h2.header
          a(href=article.url())= article.title()
        div.date= article.date('YYYY-MM-DD')
        div.descr
          !{ article.intro }
          p.more
            a(href='#more') more
      if article.isThird
        .clearfix

block footer
  a(href='/archive.html') « Archives

