doctype html

html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='google-site-verification', content='Tq6L96TOcvuR7nl6ikpW4tV4PUoA6zYK1-CArKe3ji0')
    link(rel='shortcut icon' href='/assets/favicon.ico')
    script(src='./index.ts' type='application/ts')
    title!= title
    | !{styles}
  body
    app!= body 
